* {
  color: black;
  font-family: "Nunito";
  font-weight: 400;
}

/* Header med meny och herobild */
header {
  padding: 0 4rem;
}

nav {
  display: flex;
  padding: 1rem 0;
  align-items: center;
}

.logo {
  width: 2.8rem;
  height: auto;
}

.menu-toggle {
  display: none;
}

nav ul li {
  display: inline-block;
  text-transform: uppercase;
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 4rem;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  letter-spacing: 0.1rem;
  justify-items: center;
  margin: 0 auto;
}

nav ul li a:hover {
  font-weight: 800;
}

.nav-links {
  justify-items: center;
  margin: 0 auto;
}

.hero {
  position: relative;
  width: 100%;
  height: 74vh; /* Sätter höjden direkt så att inget överlappar */
  display: flex;
  align-items: center;
  overflow: hidden;
}

.hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-content {
  position: relative;
  background: rgba(255, 255, 255);
  color: white;
  padding: 2rem;
  max-width: 24rem;
  margin-left: 4rem;
}

.hero-content h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}

.hero-content p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.btn {
  font-size: 1rem;
  text-decoration: none;
  background: #155576;
  padding: 0.6rem 1.6rem;
  display: inline-block;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

/*Stylar main-innehåller */
h2 {
  text-align: center;
  margin: 0 auto;
  margin: 4rem 0;
}

h3 {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 1rem;
}

/*Fyra boxar med bild, rubrik och brödtext */
.boxes {
  padding: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8 {
  background-color: rgb(241, 241, 240);
  width: 20%;
  min-width: 16rem;
  overflow: hidden;
}

.box-image {
  width: 100%;
  height: 34vh;
  object-fit: cover;
}

.box-content {
  padding: 1rem 1.2rem;
}

.box-content p {
  font-size: 0.9rem;
}

.read-more:hover {
  font-style: italic;
}

/* Styling för Arbetsprocess-sidan */
.process-main {
  padding: 2rem;
  max-width: 60%;
  margin-left: 8vw;
}

.process-section {
  text-align: left;
}

.process-section h2 {
  text-align: left;
}

.process-section h3 {
  color: #000000;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: left;
  font-size: 1.3rem;
}

.process-section p {
  font-size: 1rem;
  line-height: 1.6;
}

.list li {
  font-size: 1rem;
  line-height: 1.6;
  margin: 1rem 0rem;
}

.listInList li {
  line-height: 0.8;
}
.listInList {
  margin-bottom: 2rem;
}

/* Footer*/
footer {
  margin-top: 4rem;
  background-color: #3c3c3c;
  text-align: center;
  padding: 2rem;
}

footer p {
  color: white;
  font-size: 1rem;
}

/* För tablets (max-width: 1024px)*/
@media (max-width: 1024px) {
  header {
    padding: 0 2rem;
  }

  .hero {
    height: 60vh;
  }

  .hero-content {
    max-width: 20rem;
    margin-left: 2rem;
  }
  .boxes {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .box1,
  .box2,
  .box3,
  .box4,
  .box5,
  .box6,
  .box7,
  .box8 {
    width: 40%;
  }

  /* Styling för Arbetsprocess-sidan */
  .process-main {
    max-width: 70%;
    margin-left: 4vw;
  }
}

/* För mobile (max-width: 768px)*/
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .nav-links li {
    margin-left: 4rem;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 1.2rem;
  }
  .hero {
    height: 50vh;
    justify-content: center;
  }

  .hero-content {
    max-width: 60%;
    text-align: center;
    margin: 0;
    padding: 1.5rem;
  }
  .hero-content h1 {
    font-size: 1.4rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .hero-content .btn {
    display: none;
  }

  .boxes {
    flex-direction: column;
    align-items: center;
  }

  .box1,
  .box2,
  .box3,
  .box4,
  .box5,
  .box6,
  .box7,
  .box8 {
    width: 90%;
  }

  /* Styling för Arbetsprocess-sidan */
  .process-main {
    padding: 2rem;
    max-width: 80%;
    margin-left: 0;
  }
}
